[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cursr"]
	path = cursr
	url = https://github.com/cran/cursr
[submodule "eFRED"]
	path = eFRED
	url = https://github.com/cran/eFRED
[submodule "eList"]
	path = eList
	url = https://github.com/cmann3/elist
[submodule "matchr"]
	path = matchr
	url = https://github.com/cran/matchr
[submodule "oews2020"]
	path = oews2020
	url = https://github.com/cran/oews2020
[submodule "oews2021"]
	path = oews2021
	url = https://github.com/cran/oews2021
[submodule "refer"]
	path = refer
	url = https://github.com/cran/refer
